@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Mono:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: black;
    width: 100%;
    height: 5rem;
    color: white;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0.7rem;
z-index: 1;
}
.head{
    font-family: cursive;
    font-size: 3rem;
}
.new{
    color: #48cae4;
}
.navbar ul{
display: flex;
}
.navbar ul li {
    list-style: none;
    padding: 1rem;
}
.navbar ul li a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
  font-family: 'Roboto';
}
.navbar ul li a:hover{
   background-color:#48cae4;
}
.header{
    background: url('4.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}
.header div{
    color: white;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.head1{
    font-size: 4rem;
    margin: 0.6rem;
    font-family: 'Ubuntu',sans-serif;
}
.para{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-family: 'Poppins';
}
.button{
    background-color:#00b4d8;
    color: white;
    padding: 0.7rem;
    border: none;
    width: 6rem;
    font-family: 'Ubuntu';
    font-size: 1.25rem;
}
#Services{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
.container{
    margin: 10px auto;
width: 74rem;
}
h3{
    font-family: 'Poppins';
    text-align: center;
}
.para2{
    font-size: 1rem;
margin: 10px auto;
font-family: 'Poppins';

}
.cards{
    text-align: center;
    padding: 1.3rem;
}
i{
    background-color: #48cae4;
    border-radius: 4rem;
    padding: 2rem;
}
#About{
    background: url('6.jpg');
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
}
#About div{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}
.abouth1{
    color:#ffe5d9;
    text-align: right;
    padding: 8rem 6rem 0 45rem;
    font-size: 2.5rem;
    font-family: 'Ubuntu',sans-serif;
}
.para3{
    color:white;
    text-align: right;
    padding: 1rem 6rem 0 60rem;
    font-family: 'Poppins';
}
.btn{
    margin: 1rem 6rem 0 0;
    float:right;
    border: none;
    width: 6rem;
    background-color:#00b4d8;
    padding: 0.7rem;
    color: white;
    font-size: 0.9rem;
    font-family: 'Ubuntu';
}
#image{
    background: url('11.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    width: 50rem;
}
.form{
    text-align: right;
    margin-left: 50rem;
    margin-top: 9.5rem;
}
   
input{
    height:  3.5rem;
    width: 30rem;
    border: 8px solid;
    border-color: #00b4d8;   
}
.he1{
    font-size: 3rem;
    font-family: sans-serif;
    color: #03045e;
    text-align: right;
    margin-top: 1rem;
}
label{
    font-size: 2rem;
    color: black;
    font-family: 'Poppins';   
}
.btnnn{
    background-color: #00b4d8;
    border: none;
    padding: 0.7rem;
    margin-top: 1rem;
    width: 7rem;
    color: white;
    font-family: 'Ubuntu';
    font-size: 1.25rem;
}
footer{
    background-color: #384a4f;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto';
}